<main layout:fragment="main">
<table>
    <thead>
        <tr>
            <th></th>
            <th>주문회원</th>
            <th>주문이름</th>
            <th>주문준비</th>
            <th>결제여부</th>
            <th>결제날짜</th>
            <th>취소여부</th>
            <th>환불여부</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="order : ${orders}">
            <td><span> th:text = "$order.member.username" </span></td>
            <td><span> th:text = "$order.name" </span></td>
            <td><span> th:text = "$order.readyStatus" </span></td>
            <td><span> th:text = "$order.isPaid" </span></td>
            <td><span> th:text = "$order.payDate" </span></td>
            <td><span> th:text = "$order.isCanceled" </span></td>
            <td><span> th:text = "$order.isRefunded" </span></td>
        </tr>
    </tbody>
</table>